:root{
    --primary : rgba(69, 72, 252, 0.65);
    --secondary:rgba(251, 65, 80, 0.65);
}

body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: 'playball';
    font-size: 4.5rem;
    color: #fff;
    display: grid;
    place-items: center;
    place-content: center;

    background: linear-gradient(135deg, var(--primary), var(--secondary)),
                url('./img_book.png') no-repeat center center / cover;
}